<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sr_ur_biotac">

  <xacro:include filename="$(find sr_description)/other/xacro/materials.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/hand/xacro/hand.urdf.xacro"/>
  <xacro:include filename="$(find sr_description)/other/xacro/gazebo.urdf.xacro"/>
  <xacro:sr_hand hand_type="hand_e" hand_version="E3M5" side="right" fingers="all" tip_sensors="bt_sp" mid_sensors="none" prox_sensors="none" palm_sensor="none" mounting_plate="true"/>
  
  <xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro"/>
  <xacro:ur10e_robot prefix="" />
  
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint> 
  
  <joint name="arm_to_hand" type="fixed">
    <parent link="flange"/>
    <child link="rh_forearm"/>
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2.0} ${pi} ${pi/2.0}"/>
  </joint>
  
</robot>
